version: '3.9'

services:

  php-fpm:
    container_name: '${COMPOSE_PROJECT_NAME}_php-fpm'
    build: ./images/php-fpm
    volumes:
      - ${LOGS_PATH_SOURCE}:${LOGS_PATH_TARGET}
      - ${WWW_PATH_SOURCE}:${WWW_PATH_TARGET}:cached

  postgres:
    container_name: '${COMPOSE_PROJECT_NAME}_postgres'
    build: ./images/postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DATABASE=${POSTGRES_DATABASE}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  nginx:
    container_name: '${COMPOSE_PROJECT_NAME}_nginx'
    build: ./images/nginx
    command: /bin/sh -c "mkdir -p /var/log/host/nginx && nginx -g 'daemon off;'"
    volumes:
      - ${LOGS_PATH_SOURCE}:${LOGS_PATH_TARGET}
      - ${WWW_PATH_SOURCE}:${WWW_PATH_TARGET}:cached
    depends_on:
      - php-fpm
    ports:
      - '80:80'

volumes:
  postgres_data:
    driver: local
